* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yellow: #d0ff71;
  --grey: #222222;
  --fade-p: #ffffffb7;
  --lightgrey: #292929;
  --padding-tb-50: 50px 0px;
  --padding-lr-15: 0px 15px;
  --shadow: 2px 2px 10px -5px #000;
  --radius: 30px;
  --transition: 0.3s ease;

  --gap10: 10px;
  --gap20: 20px;
  --gap30: 30px;
  --gap40: 40px;
  --gap50: 50px;
}
a {
  text-decoration: none;
  color: unset;
}
body {
  font-family: Poppins, sans-serif;
  background: #0e0f11;
}
.container {
  width: min(1140px, 95%);
  margin: auto;
}
.flex {
  display: flex;
}
.f-clmn {
  flex-direction: column;
}
.sb {
  justify-content: space-between;
}
.jc {
  justify-content: center;
}
.ac {
  align-items: center;
}
li {
  list-style: none;
}
i {
  font-size: 20px;
}
span {
  display: inline-block;
}
.hide {
  display: none;
}
.ham {
  display: none;
}
main {
  position: relative;
}
section {
  user-select: none;
  /* min-height: 100vh; */
  color: #fff;
  padding: 50px 0px;
}
h1 {
  line-height: clamp(1.1, 1, 1);
  font-size: 5vw;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
  text-shadow: 1px 1px 10px #ffffff48;
}
h2 {
  font-size: clamp(1.75rem, 3.5vw, 2.8rem);
  line-height: 1.1;
  font-weight: 500;
}
h3 {
  font-size: clamp(1.4rem, 3vw, 2.2rem);
  line-height: 1.2;
}
h4 {
  font-size: clamp(1.25rem, 2.5vw, 1.8rem);
  line-height: 1.1;
}
p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--offwhite);
}
img {
  max-width: 100%;
  display: block;
}
.yellow-btn,
.grey-btn,
.black-btn {
  font-size: 16px;
  border: unset;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  padding: 8px 20px;
  transition: var(--transition);
  box-shadow: var(--shadow);
}
.yellow-icon,
.grey-icon,
.black-icon {
  padding: 8px 10px !important;
  border-radius: 50% !important;
  margin-left: -6px;
  transition: var(--transition);
}
.yellow-btn {
  background-color: var(--yellow);
  color: #000000;
}
.yellow-icon {
  color: #000;
  background-color: var(--yellow);
}
.grey-btn {
  background-color: var(--lightgrey);
  color: #ffffff;
}
.grey-icon {
  background-color: var(--lightgrey);
}
.black-btn {
  background-color: transparent;
  color: #ffffff;
  box-shadow: unset;
}
.black-icon {
  background-color: transparent;
}
.ri-arrow-right-up-long-line {
  font-size: 16px;
}

@media (min-width: 1024px) {
  .links {
    position: relative;
  }
  .links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: var(--fade-p);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in;
  }
  .links:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .links::after {
    transition: transform 0.4s ease;
  }
  .links:not(:hover)::after {
    transform-origin: right;
  }
}

/* HEADER */
header {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 4rem;
  user-select: none;
  z-index: 10;
  backdrop-filter: blur(10px);
  background-color: #ffffff22;
  width: 99%;
  margin: auto;
  border-radius: 8px;
}
nav {
  width: min(1280px, 97%);
  margin: auto;
}
.ham {
  font-size: clamp(1.5rem, 2.5vw, 1.8rem);
  font-weight: 400;
  line-height: 1;
  display: none;
  color: #fff;
}
.close {
  font-size: clamp(1.5rem, 2.5vw, 1.8rem);
  font-weight: 400;
  line-height: 1;
  color: #fff;
}
.logo {
  font-size: clamp(1.5rem, 2.5vw, 1.8rem);
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  color: #fff;
}
.nav-links {
  gap: var(--gap40);
  border-radius: 30px;
  height: fit-content;
  padding: 5px;
  transition: var(--transition);
}
.nav-links li {
  transition: var(--transition);
}
.nav-links li a {
  font-size: 16px;
  padding: 8px 0x;
  display: inline-block;
  color: #fff;
  transition: var(--transition);
}
.nav-links li:active {
  transform: scale(0.9);
}
.nav-left {
  width: 20%;
}
.nav-right {
  border-radius: 30px;
  width: 20%;
  justify-content: flex-end;
}
.nav-right:hover .yellow-icon {
  transform: rotate(45deg);
}
.nav-start:hover .yellow-icon {
  transform: rotate(45deg);
}
sup {
  background-color: var(--yellow);
  border-radius: 50%;
  color: #000;
  padding: 1px 3px;
  font-size: 10px;
  font-weight: 500;
}
.nav-start {
  display: none;
}
.look {
  display: none;
}

/* SECTION - 1 HERO */
.hero {
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  border-radius: 0px 0px 20px 20px;
}
.hero-video {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  filter: brightness(0.7);
}
.hero-content {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.hero-content p {
  width: 60%;
  margin: auto;
  color: var(--fade-p);
  margin-bottom: 20px;
}
.hero-content p:nth-child(1) {
  margin-bottom: 0px;
  color: var(--yellow);
  width: fit-content;
  padding: 8px 15px;
  backdrop-filter: blur(5px);
  border-radius: 30px;
  font-size: 12px;
  background-color: #ffffff22;
  border: 1px solid #ffffff22;
}
.cta-set {
  gap: var(--gap10);
}
.two-cta:hover .yellow-icon {
  transform: rotate(45deg);
}
.two-cta:hover .grey-icon {
  transform: rotate(45deg);
}

/* SECTION - 2 WHO WE ARE */
.who-we-are {
  height: fit-content;
}
.who-we-are-content {
  flex-direction: row;
}
.title {
  width: 100%;
}
.who-we-are-content h2 {
  font-size: clamp(1.75rem, 3.5vw, 2.3rem);
  line-height: 1.25;
  font-weight: 400;
  text-align: end;
}
.who-we-are-two-cta {
  margin-top: 30px;
  gap: var(--gap10);
}

/* SECTION - 3 TRUSTED BRANDS */
.trusted-brands {
  height: fit-content;
}
.outter {
  position: relative;
  overflow: hidden;
  width: 90vw;
  margin: auto;
  padding: 0px 30px;
}
.track {
  display: flex;
  gap: 100px;
  width: max-content;
  position: relative;
}
.inner {
  flex-shrink: 0;
}
.inner img {
  width: 100%;
  height: 50px;
  object-fit: cover;
}

/* SECTION - 4 OUR WORK */
.work-left,
.work-right {
  width: 48%;
  gap: 100px;
}
.work-title {
  gap: var(--gap30);
}
.work {
  gap: var(--gap10);
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}
.work-cat {
  position: absolute;
  top: 0px;
  right: 0px;
  gap: var(--gap10);
  width: fit-content;
  padding: 10px 10px;
  border-radius: 0px 20px 0px 20px;
  opacity: 0;
  transition: var(--transition);
}
.work-cat p {
  font-size: 14px;
  padding: 5px 20px;
  background-color: var(--lightgrey);
  color: #fff !important;
  border-radius: 30px;
}
.work img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 10px;
}
.work p {
  color: var(--fade-p);
}
.work h3 {
  font-weight: 400;
  line-height: 1.2;
}
.work:hover .work-cat {
  opacity: 1;
}
.google {
  gap: var(--gap20);
  align-items: center;
}
.google h3 {
  font-size: 30px;
  font-weight: 500;
}
.g-stars {
  gap: var(--gap10);
}
.g-stars img {
  width: 90px;
  object-fit: cover;
}
.stars {
  color: goldenrod;
}

/* SECTION - 5 OUR EXPERTISE */
.our-expertise {
  height: fit-content;
  border-radius: 20px;
  background-color: #1b1b1b;
}
.headings {
  align-items: flex-start;
  margin-bottom: 50px;
}
.our-expertise-para {
  gap: var(--gap30);
}
.our-expertise p {
  width: 71%;
}
.our-expertise h2 {
  width: 66%;
  font-size: clamp(2rem, 2.5rem, 2.5rem);
  text-align: center;
  font-weight: 500;
}
.our-expertise-para {
  align-items: flex-end;
  text-align: right;
}
.expertise-left {
  width: 40%;
  justify-content: flex-start;
}
.outter-expertise {
  width: 100%;
  gap: var(--gap30);
}
.expertises {
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #4e4e4e;
  padding-bottom: 30px;
  transition: var(--transition);
}
.expertises img {
  border-radius: 15px;
  height: 100px;
  width: 0;
  object-fit: cover;
  transition: var(--transition);
}
.expertises h3 {
  color: var(--fade-p);
  font-size: 7vw;
  font-weight: 500;
  transition: var(--transition);
}
.expertises:hover {
  gap: var(--gap30);
}
.expertises:hover img {
  width: 120px;
}
.expertises:hover h3 {
  color: #fff;
}
.expertise-left {
  position: relative;
}
.hear {
  position: sticky;
  top: 20vh;
  left: 0;
  right: 0;
  width: fit-content;
  font-size: 100px;
  height: fit-content;
  background-color: #000;
  border-radius: 50px;
  padding: 10px 40px 10px 10px;
  gap: var(--gap20);
}
.hear-img {
  position: relative;
}
.ri-play-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.hear-img img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.hear h4 {
  font-weight: 500;
  font-size: 20px;
}
.hear p {
  color: var(--fade-p);
  font-weight: 300;
  width: 100%;
}

/* SECTION - 7 SHARING THE LOVE */
.about-row {
  gap: var(--gap50);
}
.about-left {
  gap: var(--gap30);
}
.about-left h2 {
  font-weight: 500;
}
.about-right {
  color: var(--fade-p);
}
.about-right p {
  font-size: 18px;
}
.about-right span {
  color: #fff;
  text-decoration: underline;
  background-color: var(--grey);
  padding: 0px 2px;
  border-radius: 5px;
  transition: var(--transition);
}
.about-right span:hover {
  background-color: var(--yellow);
  color: #000;
}
.about-cta {
  margin-top: 30px;
}
.about-cta:hover .yellow-icon {
  transform: rotate(45deg);
}

/* SECTION - 10 AI */
.ai-about-us {
  min-height: 90vh;
  display: flex;
  position: relative;
  overflow: hidden;
}
.ai-img {
  position: absolute;
  object-fit: cover;
  width: fit-content;
  height: fit-content;
  opacity: 0.7;
  z-index: 1;
}
.ai-1 img {
  width: 200px;
  height: 280px;
  object-fit: cover;
  border-radius: 20px;
}
.ai-1 {
  top: 0;
  right: 20px;
}
.ai-2 img {
  width: 400px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
}
.ai-2 {
  top: 0;
  left: 20px;
  opacity: 0.7;
}
.ai-3 img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}
.ai-3 {
  top: 40%;
  right: 10%;
}
.ai-4 img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  transform: rotate(-20deg);
}
.ai-4 {
  bottom: 0;
  left: 10%;
  opacity: 0.7;
}
.ai-content {
  align-items: center;
  gap: var(--gap10);
  z-index: 10;
}
.ai-content h2 {
  font-size: clamp(1.75rem, 5vw, 3.4rem);
  margin-top: 10px;
  margin-bottom: 30px;
}
.ai-content p {
  text-align: center;
}
.four-cta {
  gap: var(--gap10);
}

/* Mobile */
@media (max-width: 767px) {
  h1 {
    line-height: 1.2;
    font-size: 9vw;
    font-weight: 600;
  }
  .hero-content p {
    width: 100%;
  }
  .two-cta:nth-child(2) {
    display: none;
  }

  /* SECTION - 2 WHO WE ARE */
  .who-we-are-content {
    flex-direction: column;
    gap: var(--gap30);
  }
  .who-we-are-content h2 {
    text-align: left;
  }
  .who-we-are-two-cta {
    justify-content: flex-start;
  }

  /* SECTION - 4 OUR WORK */
  .work img {
    height: 260px;
  }
  .google .two-cta {
    display: flex;
  }

  /* SECTION - 7 ABOUT US */
  .about-right p {
    font-size: 16px;
  }

  /* SECTION - 10 AI */
  .four-cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .ai-content .two-cta {
    display: flex !important;
  }
  .ai-1 img {
    width: 140px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
  .ai-1 {
    top: 0;
    right: 20px;
  }
  .ai-2 img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
  }
  .ai-2 {
    top: 0;
    left: 20px;
  }
  .ai-3 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transform: rotate(35deg);
  }
  .ai-3 {
    top: 50%;
    right: -25%;
    opacity: 0.2;
  }
  .ai-4 img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
  .ai-4 {
    bottom: 0;
    left: 0;
    opacity: 0.7;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    line-height: 1.2;
    font-size: 8vw;
    font-weight: 500;
  }

  /* SECTION - 4 OUR WORK */
  .work img {
    height: 400px;
  }

  /* SECTION - 10 AI */
  .ai-1 img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
  }
  .ai-1 {
    top: 0;
    right: 20px;
  }
  .ai-2 img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
  }
  .ai-2 {
    top: 0;
    left: 20px;
  }
  .ai-3 img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    transform: rotate(35deg);
  }
  .ai-3 {
    top: 60%;
    right: 0;
    opacity: 0.2;
  }
  .ai-4 img {
    width: 160px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
  }
  .ai-4 {
    bottom: 10%;
    left: 0;
    opacity: 0.7;
  }
}

/* BOTH - MOBILE + TABLET */
@media (max-width: 1024px) {
  .navbar {
    text-align: center;
  }
  .ham {
    display: flex;
  }
  header {
    background: #000;
    backdrop-filter: unset;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    padding: 0px 5px;
    top: 5px;
    box-shadow: 0px 0px 12px -10px #fff;
  }
  .nav-links {
    padding: 0px 5px;
    gap: 0px;
    background-color: #ffffff1a;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 65px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: auto;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    height: 0px;
    justify-content: center;
  }
  .nav-links li {
    width: 100%;
    text-align: left;
  }
  .nav-links li a {
    display: inline-block;
    font-size: 50px;
    padding: 10px 0px;
    font-weight: 500;
    opacity: 0;
    line-height: 30px;
  }
  .nav-right {
    display: none;
  }
  .nav-start {
    display: flex;
    height: 25px;
    width: fit-content;
    border-radius: 30px;
    margin-top: 30px;
    align-self: flex-start;
    opacity: 0;
  }
  .look {
    display: flex;
    width: 100%;
    padding: 0px 5px;
    text-align: left;
    margin-bottom: 20px;
    color: #fff;
    opacity: 0;
  }

  /* SECTION - 1 HERO */
  .black-btn,
  .black-icon {
    display: none;
  }

  /* SECTION - 4 OUR WORK */
  .main-work {
    flex-direction: column;
    gap: var(--gap50);
  }
  .work-left,
  .work-right {
    width: 100%;
    gap: var(--gap50);
  }
  .work-cat {
    opacity: 1;
  }

  /* SECTION - 5 OUR EXPERTISE */
  .headings {
    flex-direction: column;
    gap: 0;
  }
  .our-expertise p {
    width: 100%;
  }
  .our-expertise h2 {
    width: 100%;
    font-size: 1.9rem;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .our-expertise-para {
    color: var(--fade-p);
    align-items: flex-start;
    text-align: left;
  }
  .title {
    color: #fff;
  }
  .expertiserow {
    flex-direction: column-reverse;
  }
  .expertise-left {
    width: 100%;
    margin-top: 50px;
  }
  .outter-expertise {
    gap: 0px;
  }
  .expertises {
    width: 100%;
    gap: var(--gap20);
    border-bottom: 1px solid #4e4e4e61;
    padding: 20px 0px;
  }
  .expertises img {
    border-radius: 15px;
    height: 70px;
    width: 100px;
    object-fit: cover;
  }
  .expertises:hover img {
    width: 100px;
  }
  .expertises:hover {
    gap: var(--gap20);
  }
  .expertises h3 {
    color: #fff;
    font-size: 8vw;
  }
  .expertise-cta {
    width: 100%;
    justify-content: flex-start;
  }

  /* SECTION - 7 ABOUT US */
  .about-row {
    gap: var(--gap30);
    flex-direction: column;
  }
  .about-left span {
    margin: 0;
    width: 100%;
    margin-bottom: 30px;
  }
}
